<h1>Registration for <%= link_to @event.name, @event %></h1>

<%= form_with(model: [@event, @registration], local: true) do |f| %>
  <%= render 'shared/errors', object: @registration %>

  <%= f.label :how_heard %>
  <%= f.select :how_heard, Registration::HOW_HEARD_OPTIONS,
    prompt: "Pick one" %>

  <%= f.submit %>
<% end %>