<ul>
  <% @events.each do |e| %>
    <li>
      <strong><%= e.name %></strong>
      in <%= e.location %>:
      <%= price(e) %>
    </li>
    <p>
      <%= truncate(e.description, length: 35, separator: ' ') %>
    </p>
    <p>
      <%= day_and_time(e) %>
    </p>
  <% end %>
</ul>