<section class="event-details">
  <div class="image">
    <%= image_tag @event.image_file_name %>
  </div>
  <div class="details">
    <h1><%= @event.name %></h1>
    <h2><%= pluralize(@event.capacity, "spot") %> &bull; <%= price(@event) %></h2>
    <h3><%= day_and_time(@event) %> in <%= @event.location %></h3>
    <p>
      <%= @event.description %>
    </p>
    <div class="register">
      <%= register_or_sold_out(@event) %>
      <p>
        <%= link_to "Who's registered?", event_registrations_path(@event) %>
      </p>
    </div>
  </div>
</section>

<% if current_user_admin? %>
  <section class="admin">
    <%= link_to "Edit", edit_event_path(@event), class: "button" %>
    <%= link_to "Delete", @event, class: "button", method: :delete,
      data: { confirm: "Really?" } %>
  </section>
<% end %>
