<section class="event-details">
  <div class="image">
    <%= main_image(@event) %>
    <% if current_user %>
      <div class="likes">
        <%= like_or_unlike(@event, @like) %>
        <div class="count">
          <%= @likers.size %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="details">
    <h1><%= @event.name %></h1>
    <h2><%= pluralize(@event.capacity, "spot") %> &bull; <%= price(@event) %></h2>
    <h3><%= day_and_time(@event) %> in <%= @event.location %></h3>
    <p>
      <%= @event.description %>
    </p>
    <div class="register">
      <%= register_or_sold_out(@event) %>
      <p>
        <%= link_to "Who's registered?", event_registrations_path(@event) %>
      </p>
    </div>
  </div>
  <aside>
    <% if @likers.present? %>
      <h4>Liked By</h4>
      <ul>
        <% @likers.each do |user| %>
          <li>
            <%= link_to user.name, user %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% if @categories.present? %>
      <h4>Categories</h4>
      <ul>
        <% @categories.each do |c| %>
          <li><%= c.name %></li>
        <% end %>
      </ul>
    <% end %>
  </aside>
</section>

<% if current_user_admin? %>
  <section class="admin">
    <%= link_to "Edit", edit_event_path(@event), class: "button" %>
    <%= link_to "Delete", @event, class: "button", method: :delete,
      data: { confirm: "Really?" } %>
  </section>
<% end %>
