<!DOCTYPE html>
<html>
  <head>
    <title>Eventz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Eventz</h1>
    </header>

    <div class="content">
      <%= yield %>
    </div>

    <footer>
      <p>
        Made in Ruby Rails by <a href="https://octaviolugocamacho.github.io/">Octavio Lugo Camacho</a>
      </p>
    </footer>

  </body>
</html>
